* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}

body {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: blanchedalmond;
    width:100vw;
}

